##############################################################
#
# List of approvers/reviewers for AL Extension
#
##############################################################

# Global rule:
all * @ssormij88 @winoe15
OverallCheck(1)
/.github/CODEOWNERS @ssormij88
