##############################################################
#
# List of approvers/reviewers for AL Extension
#
##############################################################

# Global rule:
# all * @ssormij88 @winoe15

# Global rule:
@@@Backend @ssormij88 @winoe15

* @@Backend

# At least one member of the Backend team must approve changes in AL code.
Check(@@Backend >= 1)

/.github/CODEOWNERS @ssormij88
