##############################################################
#
# List of approvers/reviewers for AL Extension
#
##############################################################

# Global rule:
# Global rule:
* @ssormij88 @winoe15

/.github/CODEOWNERS @ssormij88
