##############################################################
#
# List of approvers/reviewers for AL Extension
#
##############################################################

# Global rule:
* @ssormij88 @winoe15
